* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f1f1f1;
}
header {
  background-image: url("images/header.jpg");
  background-size: cover;
  padding: 15px 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left p {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
.nav-right ul {
  display: flex;
  list-style: none;
  gap: 15px;
  align-items: center;
}
.nav-right ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-right ul li box-icon {
  fill: white;
  width: 18px;
  transition: all 0.3s;
}
.nav-right ul li a {
  color: white;
  font-size: 0.7rem;
  text-decoration: none;
  transition: all 0.3s;
}
.nav-right ul li:hover a,
.nav-right ul li:hover box-icon {
  color: #0f243d;
  fill: #0f243d;
}
.hero {
  margin-top: 35px;
}
.hero h1 {
  font-size: 3.5svw;
  color: white;
  width: 420px;
}
.hero button {
  margin-top: 20px;
  color: white;
  background-color: #0f243d;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 0.8rem;
  border: none;
  transition: all ease-in-out 0.3s;
}
.hero button:hover {
  background-color: #f1f1f1;
  color: #0f243d;
  cursor: pointer;
}
.glass-container {
  width: 400px;
  margin: 15px auto;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.drop {
  display: flex;
  align-items: center;
  background-color: rgba(182, 179, 179, 0.3);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 18px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.drop p {
  color: rgb(227, 227, 227);
  font-size: 0.8rem;
}
.drop box-icon {
  fill: rgb(227, 227, 227);
}
.mid-glass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-mid {
  line-height: 1.1;
}
.left-mid p {
  color: rgb(227, 227, 227);
  font-size: 0.7rem;
}
.left-mid h2 {
  color: rgb(227, 227, 227);
  font-size: 2rem;
}
.right-mid {
  display: flex;
  gap: 10px;
  align-items: center;
}
.bla-whi {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  fill: white;
  padding: 5px 10px;
  border-radius: 20px;
  gap: 3px;
}
.bla-whi p {
  font-size: 0.7rem;
}
.bla-whi box-icon {
  fill: white;
  width: 18px;
}
.bottom-glass {
  margin-top: 25px;
}
.recent-txt {
  font-size: 0.7rem;
  color: rgb(227, 227, 227);
  margin-bottom: 5px;
}
.spotify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 15px;
  border-radius: 15px;
}
.spot-left {
  display: flex;
  gap: 15px;
}
.spot-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(77, 76, 76, 0.8);
  backdrop-filter: blur(10px);
  padding: 5px 8px;
  border-radius: 100%;
}
.spot-left-text p {
  font-size: 0.9rem;
  font-weight: 500;
}
.light {
  font-size: 0.7rem !important;
  color: rgb(200, 199, 199);
}
.spot-right p {
  font-weight: 600;
}
.featured {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 15px;
  border-radius: 15px;
  margin-top: 15px;
}
/* Main */
main {
  margin-top: 100px;
}
.top {
  padding: 10px 40px;
  margin: 0 auto;
}
.top h1 {
  font-size: 3.3svw;
  font-weight: 900;
  width: 530px;
  margin: 0 auto;
  line-height: 1.1;
}
.top-title {
  text-align: center;
}
.top-title p {
  color: rgb(152, 152, 152);
  font-size: 0.9rem;
  margin: 10px auto 0;
  width: 450px;
}
.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.grid-left-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #dbd6cc;
  width: 270px;
  height: 180px;
  border-radius: 16px;
  padding: 10px 15px;
  margin-bottom: 20px;
}
.grid-left-top .small {
  font-size: 0.7rem;
  color: rgb(48, 48, 48);
}
.big {
  font-size: 1.8rem;
  font-weight: 600;
  color: black;
}
.prop-img {
  width: 270px;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
}
.grid-middle {
  background-image: url("images/together.jpg");
  background-size: cover;
  width: 350px;
  padding: 20px 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}
.grid-middle-top p {
  font-size: 2.5rem;
  color: white;
  width: 150px;
  line-height: 1;
}
.semi-txt {
  font-size: 0.8rem;
  color: white;
}
.grid-right-top {
  background-color: #5e6054;
}
.grid-left-bottom {
  margin-bottom: 14px;
}
.t-white {
  color: white;
}
.sm-gray {
  color: rgb(212, 212, 212) !important;
}
.middle {
  margin-top: 60px;
}
.middle-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  background-color: black;
  padding: 60px 30px;
}
.middle-container-left h1 {
  color: white;
  font-size: 2.5rem;
  width: 350px;
  line-height: 1.1;
  margin-bottom: 13px;
  font-weight: 900;
}
.limit {
  width: 350px;
}
.money-stat {
  display: flex;
  gap: 20px;
  color: white;
  margin-top: 40px;
}
.stat-left p,
.stat-right p {
  font-size: 0.7rem;
}
.stat-left h2,
.stat-right h2 {
  font-size: 2rem;
  font-weight: 600;
}
.btn {
  margin-top: 40px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid white;
  color: white;
  font-size: 0.8rem;
  background-color: transparent;
  transition: all ease-in-out 0.3s;
}
.btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.btn:active {
  transform: scale(0.95);
}
.middle-img {
  width: 250px;
  border-radius: 15px;
  object-fit: cover;
}
.middle-container-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 380px;
}
.left-dir {
  text-align: left;
}

.right-dir {
  text-align: right;
}
.feature {
  margin-top: 100px;
}
.feature-top h1 {
  font-size: 3.2svw;
  font-weight: 900;
  width: 500px;
  margin: 0 auto;
  line-height: 1.1;
  text-align: center;
}
.feature-top p {
  color: rgb(152, 152, 152);
  font-size: 0.8rem;
  margin: 10px auto 0;
  width: 450px;
  text-align: center;
}
.feature-bottom {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}
.td-img {
  width: 200px;
  transform: scaleX(-1);
  margin-top: -40px;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.1));
}
.feature-bottom-left {
  background-color: #efedec;
  padding: 10px 20px;
  border-radius: 12px;
  text-align: center;
  width: 300px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.feature-bottom-right {
  background-color: #eceff5;
}
.feature-bottom-left h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.feature-bottom-left p {
  font-size: 0.8rem;
  color: rgb(152, 152, 152);
}
.normal {
  transform: scaleX(1);
  width: 180px;
}
/* Answer section */
.answer {
  margin-top: 100px;
}
.answer-top {
  text-align: center;
}
.answer-top h1 {
  font-size: 3.2svw;
  font-weight: 900;
  width: 500px;
  margin: 0 auto;
  line-height: 1.1;
  text-align: center;
}
.answer-top p {
  color: rgb(152, 152, 152);
  font-size: 0.8rem;
  margin: 10px auto 0;
  width: 450px;
  text-align: center;
}
.answer-bottom {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  padding-bottom: 15px;
  border-bottom: 1.5px solid rgb(139, 139, 139);
  margin-bottom: 20px;
}
.question-container p,
.que-cont p {
  font-size: 0.8rem;
  font-weight: 600;
}
.plus-container {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: black;
  transition: all ease-in-out 0.3s;
}
.plus-container box-icon {
  fill: white;
  width: 15px;
}
.plus-container:hover {
  background-color: #404447;
  cursor: pointer;
}
.que-cont {
  width: 600px;
  padding-bottom: 15px;
  border-bottom: 1.5px solid rgb(139, 139, 139);
  margin-bottom: 20px;
}
.ques-ans {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ques-ans p {
  margin-bottom: 10px;
}
